    <nav class="header">
      <div class="containerBar">
        <a href="/" class="containerBar-home"><span>Home page:/Profile</span></a>
        <ul class="containerBar-list">
          <li><a href="/myWife">My wife</a></li>
          <li><a href="/aboutMe">About Me</a></li>
          <li><a href="/autorsReview">Author Review</a></li>
        </ul>
      </div>
    </nav>

    <main>
      <section class="main">
        <div class="main__first__section">
          <div 
                class="main__first__section__card"
                style="background-image: url({{user.card}});"
            >
            <div class="main__first__section__card__settings" id="settings-card">
              <form id="form-card">
                <input id="newName" type="text" placeholder="New name" />
                <div class="form-city">
                  <label for="city">New city</label>
                  <select name="city" id="city">
                    <option value="" disabled selected>Choose</option>
                    <option value="Mondstadt">Mondstadt</option>
                    <option value="Liyue">Liyue</option>
                    <option value="Inazuma">Inazuma</option>
                  </select>
                </div>
                <div class="from-elemental">
                  <label for="elemental">New elemental</label>
                  <select name="elemental" id="elemental">
                    <option value="" disabled selected>Choose</option>
                    <option value="Pyro">Pyro</option>
                    <option value="Hydro">Hydro</option>
                    <option value="Anemo">Anemo</option>
                    <option value="Electro">Electro</option>
                    <option value="Cryo">Cryo</option>
                    <option value="Geo">Geo</option>
                  </select>
                </div>
                <input type="submit" value="зберегти" />
              </form>
            </div>
            <div class="main__first__section__card__wrapper__image">
              <i
                class="fad fa-cog main__first__section__card__wrapper__image-setting"
                id="btn-card-ss"
              ></i>
              <div class="main__first__section__card__wrapper__image-wrapper">
                <div
                  class="main__first__section__card__wrapper__image-wrapper__border"
                  id="avatar-card"
                >
                  <div
                    class="main__first__section__card__wrapper__image-wrapper__border-content"
                    style="background-image: url({{user.avatart}});"
                  ></div>
                </div>
              </div>
            </div>
            <ul class="main__first__section__card__wrapper__info">
              <li>Your name: <span id="name">{{user.name}}</span></li>
              <li>ID: <span id="UID">{{user.id}}</span></li>
              <li>City: <span id="city">{{user.city}}</span></li>
              <li>Elemental: <span id="elemental">{{user.element}}</span></li>
            </ul>
          </div>
          <div class="main__first__section__info">
            <ul class="main__first__section__info__wrapper" id="characters">
                {{#each user.stand}} 
                    <li class="main__first__section__info__wrapper__card">
                        <div 
                        class="main__first__section__info__wrapper__card__main"
                        style="background-image: url({{this.images.[74]}});"
                        >
                        <img src="{{this.element}}" alt="Element {{this.name}}" />
                        </div>
                        <p class="main__first__section__info__wrapper__card__footer">{{this.name}}</p>
                    </li>
                {{/each}}
            </ul>
          </div>
        </div>
      </section>
      <section class="gallery">
        <div class="gallery_head">
          <h2>
            Твої збережені ❤
          </h2>
          <div class="wrapp-edit-btns d-none">
            <button class="btn-edit-gallery-submit">
                підтвердити
                <i class="fa-solid fa-check"></i>
              </button>
              <button class="btn-edit-gallery-cancel">
                скасувати
                <i class="fa-solid fa-xmark"></i>
              </button>
          </div>
          <button class="btn-edit-gallery">
            редагувати
            <i class="fa-solid fa-pen"></i>
          </button>
        </div>
        <ul class="gallery_wrapp">
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-17-33.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-17-33.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-17-40.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-17-40.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-17-48.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-17-48.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-17-52.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-17-52.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-17-56.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-17-56.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-17-59.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-17-59.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-18-03.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-18-03.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-18-06.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-18-06.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-18-09.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-18-09.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-18-13.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-18-13.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-18-17.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-18-17.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-18-20.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-18-20.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-18-24.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-18-24.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>   
            <li>
                <label class="container">
                    <input type="checkbox">
                    <i class="fa-solid fa-circle-dot"></i>
                    <i class="fa-solid fa-circle-check"></i>
                </label>
                <a href="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Ffull-size-image%2Fphoto_2022-02-25_20-18-27.jpg?alt=media&amp;token" target="_blank">
                    <img src="https://firebasestorage.googleapis.com/v0/b/keqing-gallery.appspot.com/o/characters%2Fraiden%2Fimage%2Fphoto_2022-02-25_20-18-27.jpg?alt=media&amp;token" alt="keqing-site-image">
                </a>
            </li>     
        </ul>
        <div class="gallery_preload" id="gallery_preload">
          <button>
            завантажити ще
          </button>
          <div class="lds-heart active-preload"><div></div></div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="footer__wrapper">
        <div class="footer__wrapper-text">
          <i class="far fa-flag"></i>
          <p>Всі мрії автора захищені.</p>
        </div>
      </div>
    </footer>

    <div class="cart-characters" id="carts">
      <div class="modal"></div>
      <div class="cart-characters-wrapp">
        <i class="fa-solid fa-circle-xmark" id="close-modal"></i>
        <div class="cart-characters-wrapp__header">
          <ul class="cart-characters-wrapp__header-list">
            <li class="active">Фото для карти</li>
            <li>Стенд з героями</li>
          </ul>
        </div>
        <div class="cart-characters-wrapp__cards">
          <div class="cart-characters-wrapp__cards__user">
            <ul>
                {{#each charactersList}}
                    <li class="cart-characters-wrapp__cards__user-item">
                        <img src={{this.images.[106]}} alt="For card {{this.name}}">
                    </li>   
                {{/each}}
            </ul>
          </div>
          <div class="cart-characters-wrapp__cards__characters">
            <ul>
                {{#each charactersList}}
                    <li class="cart-characters-wrapp__cards__characters__card">
                        <div 
                            class="cart-characters-wrapp__cards__characters__card-main"
                            style="background-image: url({{this.images.[74]}});"
                        >
                        <img src={{this.element}} alt="Element {{this.name}}" />
                        </div>
                        <p class="cart-characters-wrapp__cards__characters__card-footer">{{this.name}}</p>
                    </li>   
                {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>